.socialSignIn {
  margin:1rem auto 0;
}

.formError {
  color: #bb2430;
  background-color: rgba(219, 71, 71, 0.5);
  padding: 5px;
}

.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;
}