.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  .wrap {
    position: relative;
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin-left: 1.5rem;
        }
      }
    }

    .logo {
      width: 13rem;

      img {
        width: 100%;
        margin: 0;
      }
    }

    .callToActions{
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin-left: 1.5rem;
        }
      }
    }
  }
  i {
    display: none;
  }
}
.header__link {
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 980px) {

  .mobileMenu {
    display: block;
  }

  .header .wrap {
    .callToActions {
      i {
        display: inline-block;
      }

      ul li {

        &.hideOnMobile {
          display: none;
        }

        a, span {
          font-size: 0;

          i {
            font-size: 1.8rem;
          }
        }

      }
    }

    .mainMenu {
      display: none;
      position: absolute;
      height: auto;
      top: 100%;
      left: 0;
      z-index: 10;
      background-color: white;
      border-bottom: 1px solid lightgray;

      &.active {
        display: block;
      }

      ul li {
        width: 100%;
        margin: 0;
        border-top: 1px solid lightgray;

        a {
          display: block;
          width: 100%;
          text-align: left;
          padding: 0 10px;
        }
      }
    }

  }
}

