
.userProfile {
  display: block;
  width: 100%;
  margin: 3rem auto 1rem;

  ul {
    li {
      display: block;
      width: 100%;

      .img {
        display: block;
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
        padding: 20px;

          img {
            display: block;
            width: 100%;
          }
          .uploadImg{
            display: flex;
            label {
              text-align: right;
              cursor: pointer;
              margin: 0 auto;
              i{
                font-size: 2.5rem;
                z-index: 1;
              }
            }
            
            .formRow{
              display: none;
            }
         }

        .error span {
          color:red
        }
      }

      .displayName {
        display: block;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
        font-size: 1.8rem;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
}